@model IEnumerable<DiplomaProject.Models.ProductInOrder>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </th>
        @* <th> *@
        @*     @Html.DisplayNameFor(model => model.FinalDescription) *@
        @* </th> *@
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 15%">
                <div class="col-6">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Product.Photo)" alt="LogoPhoto" class="image-style">
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.FinalDescription) *@
            @* </td> *@
        </tr>
    }
    </tbody>
    <tfoot class="fw-bold table-borderless">
            
    <td colspan="3"></td>
    <td class="text-end table-light">
        Сумма
    </td>
    <td class="table-light">
        @ViewBag.TotalPrice
    </td>
    @* <td> *@
    @* </td> *@
    </tfoot>
</table>
