@model DiplomaProject.Models.OrderFeedback

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Деталі відгуку</h1>

<div>
    <h4>Відгук до замовлення</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEverythingOkay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEverythingOkay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
    </dl>
</div>

<div>
    <a class="btb btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Видалити</a>
    @Html.ActionLink("Повернутися до замовлення", "Details", "Order", new { id = Model.Order.Id }, new {@class="btb btn-primary"})
</div>