<div>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Iнформацiя про магазин
    </button>
</div>

<div class="collapse pt-5 pr-10" id="collapseExample" style="position: absolute">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Загалом товарів: @ViewBag.ProductsCount
        </li>
        <li class="list-group-item">
            Загалом замовлень: @ViewBag.OrdersCount
        </li>
        <li class="list-group-item">
            Замовлень виконано: @ViewBag.OrdersUserGetCount
        </li>
        <li class="list-group-item">
            Замовлень виконано вчасно: @ViewBag.OrdersInTimeCount
        </li>
        <li class="list-group-item">
            Замовлень виконано успішно: @ViewBag.OrdersSuccesfulCount
        </li>
    </ul>
</div>