@model DiplomaProject.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBeReady)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBeReady)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFixation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFixation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelivered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelivered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressToDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressToDelivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopProfile.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadyStage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadyStage.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
