@model IEnumerable<DiplomaProject.Models.Order>

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.ShopProfileName != null)
{
    <h1 class="text-center secondary-color pt-3">Замовлення магазину @ViewBag.ShopProfileName</h1>
}
else
{
    <h1 class="text-center secondary-color pt-3">Мої замовлення</h1>
}

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
<table class="table table-striped align-middle mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateBeReady)
            </th>
            @if (ViewBag.ShopProfileName != null)
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Cart.Customer)
                            </th>
                        }
                        else
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.ShopProfile)
                            </th>
                        }
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.DateOfFixation) *@
            @* </th> *@
            @*<th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>*@
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.AddressToDelivery) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.UserComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesmanComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>*@
            
            @*<th>
                @Html.DisplayNameFor(model => model.DeliveryType)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ReadyStage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateBeReady)
            </td>
             @if (ViewBag.ShopProfileName != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Cart.Customer.Email)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.ShopProfile.Name)
                            </td>
                        }
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.DateOfFixation) *@
            @* </td> *@
            @*<td>
                @Html.DisplayFor(modelItem => item.IsDelivered)
            </td>*@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.AddressToDelivery) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.UserComment)
            </td>
             <th>
                 @Html.DisplayFor(modelItem => item.SalesmanComment)
             </th>
             <td>
                 @if (item.Price != 0)
                 {
                     @Html.DisplayFor(modelItem => item.Price)
                 }
             </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>*@
           
            @*<td>
                @Html.DisplayFor(modelItem => item.DeliveryType.Name)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ReadyStage.Name)
            </td>
            <td>
                @* <a asp-action="ShopGetsOrderFromUser" asp-route-id="@item.Id">Узгодити деталі замовлення</a> | *@
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fa-solid fa-circle-info"></i>
                </a>
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
