@model IEnumerable<DiplomaProject.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Замовлення магазину</h1>

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateBeReady)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfFixation)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AddressToDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesmanComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cart.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopProfile)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DeliveryType)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ReadyStage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateBeReady)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfFixation)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsDelivered)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.AddressToDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserComment)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.SalesmanComment)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Cart.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopProfile.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DeliveryType.Name)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ReadyStage.Name)
            </td>
            <td>
                <a asp-action="ShopGetsOrderFromUser" asp-route-id="@item.Id">Узгодити деталі замовлення</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
