@model DiplomaProject.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    @* <div class="col-md-4"> *@
        <form asp-action="ShopGetsOrderFromUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CartId" />
            <input type="hidden" asp-for="ShopProfileId" />
            <input type="hidden" asp-for="Cart.ProductsInOrder" />
            <dl class="row">
            <div class="form-group">
                @* <label asp-for="Cart.Customer.Email" class="control-label"></label> *@
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Cart.Customer)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Cart.Customer.Email)
                </dd>
            </div>
            <div class="form-group">
                @* <label asp-for="DeliveryType.Name" class="control-label"></label> *@
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryType)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DeliveryType.Name)
                </dd>
            </div>
            <div class="form-group">
                @* <label asp-for="DateOfFixation" class="control-label"></label> *@
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfFixation)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DateOfFixation)
                </dd>
            </div>
                <div class="form-group">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.AddressToDelivery)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.AddressToDelivery)
                    </dd>
                </div>
                <div class="form-group">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.ReadyStageId)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.ReadyStage.Name)
                    </dd>
                </div>
                <div class="form-group">
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UserComment)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.UserComment)
                </dd>
            </div>
            
            </dl>
            
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cart.ProductsInOrder[0].Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cart.ProductsInOrder[0].Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cart.ProductsInOrder[0].Comment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cart.ProductsInOrder[0].FinalPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cart.ProductsInOrder[0].FinalDescription)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Cart.ProductsInOrder)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                            <input type="number" name="productPrices" value="@item.FinalPrice"/>
                            @* @Html.EditorFor(modelItem => item.FinalPrice) *@
                        </td>
                        <td>
                            <textarea type="text" name="productDescriptions" value="@item.FinalDescription" rows="5"></textarea>
                            @* @Html.EditorFor(modelItem => item.FinalDescription) *@
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            <div class="form-group">
                <label asp-for="DateBeReady" class="control-label"></label>
                <input asp-for="DateBeReady" class="form-control" />
                <span asp-validation-for="DateBeReady" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check"> *@
            @*     <label class="form-check-label"> *@
            @*         <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid) *@
            @*     </label> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="ReadyStageId" class="control-label"></label> *@
            @*     <select asp-for="ReadyStageId" class="form-control" asp-items="ViewBag.ReadyStageId"></select> *@
            @*     <span asp-validation-for="ReadyStageId" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="SalesmanComment" class="control-label"></label>
                <input asp-for="SalesmanComment" class="form-control" />
                <span asp-validation-for="SalesmanComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    @* </div> *@
</div>

<div>
    <a asp-action="Index" asp-route-shopProfileId="@ViewBag.ShopProfileId">Back to List</a>
</div>