@model DiplomaProject.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center secondary-color pt-2">Details</h1>

<div>
    <h4 class="text-center">Product</h4>
    <hr/>

    <div class="image-center pb-5">
        @* @Html.DisplayFor(model => model.LogoPhoto) *@
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Photo)" alt="LogoPhoto" class="image-style"/>
    </div>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayFor(model => model.Name)
            </th>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayFor(model => model.Description)
            </th>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Composition)
            </th>
            <th>
                @Html.DisplayFor(model => model.Composition)
            </th>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayFor(model => model.Price)
            </th>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopProfile)
            </th>
            <th>
                @Html.DisplayFor(model => model.ShopProfile.Id)
            </th>
        </tr>

    </table>
    
</div>

<div class="w-100">
    <div class="center btn btn-warning ">
        <i class="fa-solid fa-cart-shopping"></i>
        @Html.ActionLink("Замовити товар", "Create", "ProductInOrder", new { productId = Model.Id, shopProfileId = Model.ShopProfile.Id }, null)
    </div>
</div>

<div class="d-flex align-items-center">
    <a class="btn btn-info left" asp-action="Index">Back to List</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>