@model IEnumerable<DiplomaProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center secondary-color pt-5">Список товарів</h1>
@* <h4 class="text-center primary-color">Продукти у категорії @ViewBag.CategoryId</h4> *@

@* <p> *@
@*     <a class="btn btn-success" asp-action="Create" asp-route-shopProfileId="@ViewBag.ShopProfileId">Create New</a> *@
@* </p> *@

<form class="d-flex">
    <input class="form-control me-2" type="search" name="name" placeholder="Введіть назву товару" aria-label="Search">
    <button asp-action="GetByName" class="btn btn-outline-success" type="submit">Пошук</button>
</form>

<div class="row">

    @* <div class="@(ViewBag.CategoryId != null) ? col-md-9  : col-md-12"> *@
    <div class="col-md-9">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @* <th class="text-center"> *@
                @*     @Html.DisplayNameFor(model => model.Composition) *@
                @* </th> *@
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ShopProfile)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="col-12">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photo)" alt="LogoPhoto" style="width: inherit;"/>
                        </div>
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @* <td class="text-center"> *@
                    @*     @Html.DisplayFor(modelItem => item.Composition) *@
                    @* </td> *@
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ShopProfile.Name)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                         @if (User.Identity.IsAuthenticated)
                         {
                             <a class="btn btn-danger" asp-controller="LikedProductByUser" asp-action="Create" asp-route-productId="@item.Id" asp-route-username="@User.Identity.Name">
                                 <i class="fa-solid fa-heart"></i>
                             </a>
                         }
                        <a class="btn btn-warning" asp-controller="ProductInOrder" asp-action="Create" asp-route-productId="@item.Id" asp-route-shopProfileId="@item.ShopProfileId">
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>

                        @if (User.IsInRole("admin"))
                         {
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                 <i class="fa-solid fa-trash"></i>
                             </a>
                         }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    @* @if (ViewBag.CategoryId != null) *@
    @* { *@
    @*     <div class="col-md-3 pt-5"> *@
    @*         @await Component.InvokeAsync("SubcategoryInProducts", new { categoryId = ViewBag.CategoryId }) *@
    @*     </div> *@
    @* } *@
    
    <div class="col-md-3 pt-5">
        @await Component.InvokeAsync("CategoriesWithSubcategoriesList")
    </div>
    
</div>