@model IEnumerable<DiplomaProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center secondary-color pt-5">Products List</h1>
<h4 class="text-center primary-color">Продукти у категорії @ViewBag.CategoryId</h4>

<p>
    <a class="btn btn-success" asp-action="Create" asp-route-shopProfileId="@ViewBag.ShopProfileId">Create New</a>
</p>

<form class="d-flex">
    <input class="form-control me-2" type="search" name="name" placeholder="Введіть назву" aria-label="Search">
    <button asp-action="GetByName" class="btn btn-outline-success" type="submit">Пошук</button>
</form>

@if (ViewBag.CategoryId != null)
{
    @await Component.InvokeAsync("SubcategoryInProducts", new { categoryId = ViewBag.CategoryId })
}

<table class="table">
    <thead>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Composition)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.ShopProfile)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @* @Html.DisplayFor(modelItem => item.Photo) *@
                <div class="col-12">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photo)" alt="LogoPhoto" style="width: inherit;"/>
                </div>
            </td>
            <td  class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td  class="text-center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td  class="text-center">
                @Html.DisplayFor(modelItem => item.Composition)
            </td>
            <td  class="text-center">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ShopProfile.Name)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fa-solid fa-circle-info"></i>
                </a>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>