@model IEnumerable<DiplomaProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h4>Продукти у категорії @ViewBag.CategoryId</h4>

<p>
    <a asp-action="Create" asp-route-shopProfileId="@ViewBag.ShopProfileId">Create New</a>
</p>
<div class="container">
    <div class="row">
        <div class="col-9">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Composition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShopProfile)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.Photo) *@
                            <div class="col-12">
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photo)" alt="LogoPhoto" style="width: inherit;"/>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Composition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShopProfile.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <div class="container-fluid">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" name="name" placeholder="Введіть назву" aria-label="Search">
                    <button asp-action="GetByName" class="btn btn-outline-success" type="submit">Пошук</button>
                </form>
              
                @if (ViewBag.CategoryId != null)
                {
                    @await Component.InvokeAsync("SubcategoryInProducts", new {categoryId = ViewBag.CategoryId})
                }
                </div>
        </div>
    </div>
</div>