@model IEnumerable<DiplomaProject.Models.Product>

@{
    ViewData["Title"] = "Products";
}

@* @Component.InvokeAsync("ShopProfileViewWithProducts",new{ shopProfileId = ViewBag.ShopProfileId}) *@

<div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <div class="col-12">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photo)" alt="LogoPhoto" class="card-img">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="card-text">Ціна: @Html.DisplayFor(modelItem => item.Price)</div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a class="btn btn-danger" asp-controller="LikedProductByUser" asp-action="Create" asp-route-productId="@item.Id" asp-route-username="@User.Identity.Name">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a class="btn btn-warning" asp-controller="ProductInOrder" asp-action="Create" asp-route-productId="@item.Id" asp-route-shopProfileId="@item.ShopProfileId">
                        <i class="fa-solid fa-cart-plus"></i>
                    </a>
                    @if (item.ShopProfile.Salesman.Email == User.Identity.Name)
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    }
                    else if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>
