@model IEnumerable<DiplomaProject.Models.ProductInOrder>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center secondary-color pt-3">Мій кошик</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th class="text-start">
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.FinalPrice)
        </th>
        @* <th class="text-center"> *@
        @*     @Html.DisplayNameFor(model => model.FinalDescription) *@
        @* </th> *@
        @* <th class="text-center"> *@
        @*     @Html.DisplayNameFor(model => model.Cart) *@
        @* </th> *@
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td style="width: 15%">
                <div class="col-6">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Product.Photo)" alt="LogoPhoto" class="image-style">
                </div>
            </td>
            
            <td class="text-start">
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            @* <td class="text-center"> *@
            @*     @Html.DisplayFor(modelItem => item.FinalDescription) *@
            @* </td> *@
            @* <td class="text-center"> *@
            @*     @Html.DisplayFor(modelItem => item.Cart.Id) *@
            @* </td> *@
            <td>
                <a class="btn btn-info" asp-action="Details" asp-controller="Product" asp-route-id="@item.Product.Id">
                    <i class="fa-solid fa-circle-info"></i>
                </a>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fa-solid fa-trash"></i>
                </a>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="d-flex align-items-center">
    @if (Model.Count() != 0)
    {
        <div>
            @* @Html.ActionLink("Оформити замовлення", "UserMakeOrder", "Order", new {cartId = ViewBag.CartId}) *@
            <a class="btn btn-warning" asp-action="UserMakeOrder" asp-controller="Order" asp-route-cartId="@ViewBag.CartId">Оформити замовлення</a>
            <a class="btn btn-info ml-1" asp-action="ShopProfileProductsIndex" asp-controller="Product" asp-route-shopProfileId="@Model.First().Product.ShopProfileId">Інші товари магазину</a>
        </div>
    }
    else
    {
        <a class="btn btn-info ml-1" asp-action="Index" asp-controller="Product">Повернутися до покупок</a>
    }
</div>