<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Handmade Space</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="https://kit.fontawesome.com/5064b37200.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body class="bg-main">

<header class="navbar bd-navbar bg-header primary-color align-items-center">

    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="padding-left: 2%">
        <img src="~/favicon.ico" width="50" height="50" alt="">
        Handmade Space
    </a>

    <div class="d-flex flex-row">
        <a class="nav-link primary-color hover" asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a>
        @* <a class="nav-link primary-color hover" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        <a class="nav-link primary-color hover" asp-area="" asp-controller="ShopProfile" asp-action="Index">Магазини</a>
        <a class="nav-link primary-color hover" asp-area="" asp-controller="Product" asp-action="Index">Товари</a>
        <a class="nav-link primary-color hover" asp-area="" asp-controller="Home" asp-action="ShopProfilesGoogleMap">Магазини найближчі до мене</a>
    </div>

    <div class="d-flex flex-row">
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="nav-link primary-color hover" asp-area="" asp-controller="Account" asp-action="Register">Зареєструватися</a>
            <a class="nav-link primary-color hover" asp-area="" asp-controller="Account" asp-action="Login">Увійти</a>
        }
    </div>

    <div style="padding-right: 5%">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-flex flex-row" style="padding-left: 6%">
                <div class="pt-2">
                    <i class="fa-solid fa-user fa-lg"></i>
                </div>

                <div class="pt-2" style="padding-left: 3%">
                    @User.Identity.Name
                </div>

                <div data-bs-toggle="tooltip" data-bs-placement="bottom" title="Вихiд" style="padding-left: 3%">
                    @Html.ActionLink("", "Logout", "Account", new { currentUserEmail = User.Identity.Name }, new { @class = "my-btn fa-solid fa-right-from-bracket fa-2x secondary-color" })
                </div>
            </div>

            <div class="d-flex justify-content-start">

                <div data-bs-toggle="tooltip" data-bs-placement="bottom" title="Мій кошик">
                    @Html.ActionLink("", "Index", "ProductInOrder", "", new { @class = "my-btn fa-solid fa-cart-arrow-down fa-2x secondary-color" })
                </div>

                <div data-bs-toggle="tooltip" data-bs-placement="bottom" title="Мої замовлення">
                    @Html.ActionLink("", "Index", "Order", "", new { @class = "my-btn fa-solid fa-truck-fast fa-2x secondary-color" })
                </div>

                <div data-bs-toggle="tooltip" data-bs-placement="bottom" title="Мій список бажань">
                    @Html.ActionLink("", "Index", "LikedProductByUser", new { currentUserEmail = User.Identity.Name }, new { @class = "my-btn fa-solid fa-heart fa-2x secondary-color" })
                </div>

                <div >
                    @await Component.InvokeAsync("MyShop", new { currentUserEmail = User.Identity.Name })
                </div>
            </div>
        }
    </div>

</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted bg-footer">
    <div class="container">
        &copy; 2022 - DiplomaProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>